
.icon-user:before { content: '\e800'; } /* '' */
.icon-key:before { content: '\e801'; } /* '' */
.icon-logout:before { content: '\e802'; } /* '' */
.icon-plus-circled:before { content: '\e803'; } /* '' */
.icon-trash:before { content: '\e804'; } /* '' */
.icon-star-circled:before { content: '\e805'; } /* '' */
.icon-cancel-circled:before { content: '\e806'; } /* '' */
.icon-list-add:before { content: '\e807'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
