@import "variables";
@import "styleSchemes";


#add_subject_button{
  width: 8%;
  height: 90%;
  grid: {
    row: 1;
    column: 2;
  };
  position: relative;
  left: 1.3%;
  @include standard_form_font;
  background: linear-gradient($add_button_color 100%, $four_grade_color 5%);
  font-size: 0.8vw;
  @include thin_border;
  border-top: {
    left-radius: 5px;
    right-radius: 5px;
  };
  align-self: end;
  border-bottom: none;
  &:hover{
    cursor: pointer;
    animation: add_subject_button_hover linear forwards;
    animation-duration: 100ms;
  }
  animation: add_subject_button_hover_release linear forwards;
  animation-duration: 100ms;
}

#add_subject_label:hover{
  cursor: pointer;
}