@import "variables";
@import "styleSchemes";


#add_subject_button{
  width: 8%;
  height: 90%;
  grid: {
    row: 1;
    column: 2;
  };
  position: relative;
  left: 1.3%;
  @include standard_form_font;
  background: linear-gradient($add_button_color 100%, $four_grade_color 5%);
  font-size: 0.8vw;
  @include thin_border;
  border-top: {
    left-radius: 5px;
    right-radius: 5px;
  };
  align-self: end;
  border-bottom: none;

  &:hover{
    cursor: pointer;
    animation: add_subject_button_hover linear forwards;
    animation-duration: 100ms;
  }
  animation: add_subject_button_hover_release linear forwards;
  animation-duration: 100ms;
}

#add_subject_label:hover{
  cursor: pointer;
}

#edit_subject_pane{
  @include appearing_pane_style;
  font-size: 1vw;
  border-radius: 0;
  @include appearing_pane_position;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#add_new_subject_close_button_div{
  @include close_button_div_style;
}

#add_new_subject_close_button{
  @include close_pane_button_style;
}

.existing_subject_div{
  background-color: $nav_bar_color;
  @include thin_border;
  width: 80%;
  margin:{
    left: 5px;
    top: 5px;
  }
  color: $white_contrast_color;
}

.existing_subject_element{
  display: flex;
  align-items: baseline;
  justify-content: center;
}

#title_div{
  font-weight: bold;
  text-align: center;
}

#new_subject_description{
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-bottom: 2rem;
}

#new_subject_input_div{
  display: flex;
  justify-content: space-around;
  margin: {
    top: 15px;
    left: 5px;
  };
  gap: 5px;
  @include timetable_font;
  width: 100%;
}

#confirm_new_subject_button{
  font-size: 0.8vw;
  margin-top: 1rem;
  @include thin_border;
  @include standard_form_font;
  @include timetable_add_button_colors;
}

.new_subject_input{
  @include standard_form_font;
  margin: {
    top: 5px;
    bottom: 5px;
  }
}

.delete_subject_button{
  background-color: $delete_color;
  font-size: 100%;
  border: none;
  @include thin_border;
  border-radius: 5px;
  height: min-content;
  margin-left: 5px;
  @include delete_button_hover_style;
}

#ask_to_remove_subject_div{
  font-size: 2vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
  @include whole_area_style;
}

#decision_buttons_div{
  display: flex;
  justify-content: space-around;
}

.delete_subject_decision{
  width: 10vh;
  height: 5vh;
  @include thin_border;
  border-radius: 5px;
  @include timetable_font;
}

#subject_name_span{
  font-weight: bold;
}

#delete_subject_decision_label{
  text-align: center;
}

#delete_subject_yes{
  @include timetable_add_button_colors;
}

#delete_subject_no{
  background-color: $delete_color;
  @include delete_button_hover_style;
}

.delete_subject_label:hover{
  cursor: pointer;
}

#assign_subject_pane_div{
  @include appearing_pane_style;
  @include appearing_pane_position;
  height: auto;
  display: flex;
  flex-direction: column;
}

#assign_subject_pane_close_button_div{
  @include close_button_div_style;
  height: min-content;
}

#assign_subject_pane_close_button{
  @include close_pane_button_style;
}

#assign_subject_pane_header{
  align-self: center;
  font-size: 1vw;
}

#set_subject_div{
  display: flex;
  text-align: center;
  margin-left: 10px;
  @include timetable_font;
}

#select_subject{
  width: min-content;
  @include timetable_font;
  background-color: $nav_bar_color;
  color: $white_contrast_color;
}

#subject_time_div{
  margin: {
    left: 25px;
    top: 20px
  };
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include timetable_font;
}

#confirm_setting_new_subject{
  @include timetable_add_button_colors;
  width: 80%;
}

#confirm_setting_new_subject_div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 1rem;
}

#delete_subject_from_cell{
  @include thin_border;
  @include timetable_font;
  border-radius: 5px;
  background-color: $delete_color;
  margin-top: 1rem;
  width: 80%;
  @include delete_button_hover_style;
}