@import "variables";
@import "styleSchemes";


#add_subject_button{
  width: 8%;
  height: 90%;
  grid: {
    row: 1;
    column: 2;
  };
  position: relative;
  left: 1.3%;
  @include standard_form_font;
  background: linear-gradient($add_button_color 100%, $four_grade_color 5%);
  font-size: 0.8vw;
  @include thin_border;
  border-top: {
    left-radius: 5px;
    right-radius: 5px;
  };
  align-self: end;
  border-bottom: none;

  &:hover{
    cursor: pointer;
    animation: add_subject_button_hover linear forwards;
    animation-duration: 100ms;
  }
  animation: add_subject_button_hover_release linear forwards;
  animation-duration: 100ms;
}

#add_subject_label:hover{
  cursor: pointer;
}

#edit_subject_pane{
  @include appearing_pane_style;
  border-radius: 0;
  position: relative;
  bottom: 50%;
  left: 40%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#add_new_subject_close_button_div{
  @include close_button_div_style;
}

#add_new_subject_close_button{
  @include close_pane_button_style;
}

.existing_subject_div{
  background-color: $nav_bar_color;
  @include thin_border;
  width: 80%;
  margin:{
    left: 5px;
    top: 5px;
  }
  color: $white_contrast_color;
}

.existing_subject_element{
  display: flex;
  align-items: baseline;
}

#title_div{
  font-weight: bold;
}

#new_subject_description{
  display: flex;
  flex-direction: column;
}

#new_subject_input_div{
  margin-top: 15px;
  margin-left: 5px;
  gap: 5px;
  @include standard_form_font;
  width: 80%;
}

#confirm_new_subject_button{
  background: linear-gradient($add_button_color 100%, $four_grade_color 5%);
  font-size: 0.8vw;
  @include thin_border;
  @include standard_form_font;
  border-radius: 5px;
  &:hover{
    cursor: pointer;
    background: linear-gradient(darken($add_button_color, 10%) 100%, darken($four_grade_color, 10%) 5%);
  }
}

.new_subject_input{
  @include standard_form_font;
  margin: {
    top: 5px;
    bottom: 5px;
  }
}

.delete_subject_button{
  background-color: $delete_color;
  font-size: 100%;
  border: none;
  @include thin_border;
  border-radius: 5px;
  height: min-content;
  margin-left: 5px;
  &:hover{
    cursor: pointer;
  }
}
