@keyframes hovered_button {
    from{width: 120px; height: 110px;}
    to{width: 130px; height: 120px}
}

@keyframes hovered_button_release {
    from{width: 130px; height: 120px}
    to{width: 120px; height: 110px;}
}

@keyframes additional_button_hover {
    from{height: 30%}
    to{height: 40%}
}

@keyframes additional_button_release {
    from{height: 40%}
    to{height: 30%}
}


@keyframes add_subject_button_hover {
    from{height: 90%}
    to{height: 100%}
}

@keyframes add_subject_button_hover_release {
    from{height: 100%}
    to{height: 90%}
}

