@import "variables";
@import "styleSchemes";

.appearing_pane{
  position: relative;
  @include appearing_pane_style;
  @include appearing_pane_position;
  align-items: center;
  gap: 5%;
}

.available_grade_button{
  @include button_in_appearing_pane_style;
}

.possible_grades{
  display: flex;
  justify-content: space-around;
}

#grade_edit_close_button_div{
  @include close_button_div_style;
}

#grade_edit_close_button{
  @include close_pane_button_style;
}

.grade_label:hover{
  cursor: pointer;
}

#grade_add_close_button_div{
  @include close_button_div_style;
}

#grade_add_close_button{
  @include close_pane_button_style;
  &:hover{
    cursor: pointer;
  }
}

.new_grade_button{
  @include button_in_table_style;
  background-color: $add_button_color;
  color: $white_contrast_color;
}

.grade_button{
  @include button_in_table_style;
}

.attendance_button{
  @include button_in_table_style;
  color: $white_contrast_color;
  width: min-content;
}

.attendance_label:hover{
  cursor: pointer;
}

.new_attendance_button{
  @include button_in_table_style;
  background-color: $add_button_color;
  color: $white_contrast_color;
}

#attendance_add_close_button{
  @include close_pane_button_style;
  &:hover{
    cursor: pointer;
  }
}

#attendance_add_close_button_div{
  display: flex;
  justify-content: end;
  width: 100%;
}

.available_attendance_button{
  @include button_in_table_style;
  color: $white_contrast_color;
  width: min-content;
}

.possible_attendances{
  display: flex;
  justify-content: space-around;
}

#save_grade_button{
  @include timetable_add_button_colors;
}

#save_changes_button{
  @include timetable_add_button_colors;
}

#delete_grade_button{
  @include thin_border;
  @include timetable_font;
  border-radius: 5px;
  background-color: $delete_color;
  @include delete_button_hover_style;
}

#save_attendance_button{
  @include timetable_add_button_colors;
}

#attendance_edit_close_button_div{
  @include close_button_div_style;
}

#attendance_edit_close_button{
  @include close_pane_button_style;
  &:hover{
    cursor: pointer;
  }
}

#student_name_label{
  text-align: center;
}

.available_attendance_edit_button{
  @include thin_border;
  @include timetable_font;
  border-radius: 5px;
}

#save_attendance_edit_button{
  @include timetable_add_button_colors;
}

#delete_attendance_edit_button{
  @include thin_border;
  @include timetable_font;
  border-radius: 5px;
  background-color: $delete_color;
  @include delete_button_hover_style;
}