@import "buttonAnimatoins.css";
@font-face {
  font-family: "Tilt Neon";
  src: local("Tilt Neon"), url("/online-gradebook-frontend/fonts/TiltNeon-Regular-VariableFont_XROT,YROT.ttf") format("truetype");
}
@font-face {
  font-family: "Tilt Neon";
  src: local("Tilt Neon"), url("/online-gradebook-frontend/fonts/TiltNeon-Regular-VariableFont_XROT,YROT.ttf") format("truetype");
}
.appearing_pane {
  position: relative;
  height: 40%;
  width: 20%;
  background-color: #FFFFFF;
  border: 2px solid black;
  border-radius: 10px;
  font-family: "Tilt Neon";
  font-size: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 50%;
  left: 40%;
  align-items: center;
  gap: 5%;
}

.available_grade_button {
  height: 85%;
  font-family: "Tilt Neon";
  border: 2px solid black;
  border-radius: 5px;
}
.available_grade_button:hover {
  cursor: pointer;
}

.possible_grades {
  display: flex;
  justify-content: space-around;
}

#grade_edit_close_button_div {
  display: flex;
  justify-content: right;
  width: 100%;
}

#grade_edit_close_button {
  border: none;
  background-color: transparent;
  font-size: 100%;
  width: min-content;
  height: min-content;
}
#grade_edit_close_button:hover {
  cursor: pointer;
}

.grade_label:hover {
  cursor: pointer;
}

#grade_add_close_button_div {
  display: flex;
  justify-content: right;
  width: 100%;
}

#grade_add_close_button {
  border: none;
  background-color: transparent;
  font-size: 100%;
  width: min-content;
  height: min-content;
}
#grade_add_close_button:hover {
  cursor: pointer;
}
#grade_add_close_button:hover {
  cursor: pointer;
}

.new_grade_button {
  margin-left: 0.5rem;
  height: 85%;
  width: 1.8rem;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #258518;
  color: #FFFFFF;
}
.new_grade_button:hover {
  cursor: pointer;
}

.grade_button {
  margin-left: 0.5rem;
  height: 85%;
  width: 1.8rem;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grade_button:hover {
  cursor: pointer;
}

.attendance_button {
  margin-left: 0.5rem;
  height: 85%;
  width: 1.8rem;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  width: min-content;
}
.attendance_button:hover {
  cursor: pointer;
}

.attendance_label:hover {
  cursor: pointer;
}

.new_attendance_button {
  margin-left: 0.5rem;
  height: 85%;
  width: 1.8rem;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #258518;
  color: #FFFFFF;
}
.new_attendance_button:hover {
  cursor: pointer;
}

#attendance_add_close_button {
  border: none;
  background-color: transparent;
  font-size: 100%;
  width: min-content;
  height: min-content;
}
#attendance_add_close_button:hover {
  cursor: pointer;
}
#attendance_add_close_button:hover {
  cursor: pointer;
}

#attendance_add_close_button_div {
  display: flex;
  justify-content: end;
  width: 100%;
}

.available_attendance_button {
  margin-left: 0.5rem;
  height: 85%;
  width: 1.8rem;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  width: min-content;
}
.available_attendance_button:hover {
  cursor: pointer;
}

.possible_attendances {
  display: flex;
  justify-content: space-around;
}

#save_grade_button {
  font-family: "Tilt Neon";
  font-size: 100%;
  background: linear-gradient(#258518 100%, #9BD33F 5%);
  border: 2px solid black;
  border-radius: 5px;
}
#save_grade_button:hover {
  cursor: pointer;
  background: linear-gradient(#195a10 100%, #81b52a 5%);
}

#save_changes_button {
  font-family: "Tilt Neon";
  font-size: 100%;
  background: linear-gradient(#258518 100%, #9BD33F 5%);
  border: 2px solid black;
  border-radius: 5px;
}
#save_changes_button:hover {
  cursor: pointer;
  background: linear-gradient(#195a10 100%, #81b52a 5%);
}

#delete_grade_button {
  border: 2px solid black;
  font-family: "Tilt Neon";
  font-size: 100%;
  border-radius: 5px;
  background-color: #f83c54;
}
#delete_grade_button:hover {
  cursor: pointer;
  background-color: #f60b29;
}

#save_attendance_button {
  font-family: "Tilt Neon";
  font-size: 100%;
  background: linear-gradient(#258518 100%, #9BD33F 5%);
  border: 2px solid black;
  border-radius: 5px;
}
#save_attendance_button:hover {
  cursor: pointer;
  background: linear-gradient(#195a10 100%, #81b52a 5%);
}

#attendance_edit_close_button_div {
  display: flex;
  justify-content: right;
  width: 100%;
}

#attendance_edit_close_button {
  border: none;
  background-color: transparent;
  font-size: 100%;
  width: min-content;
  height: min-content;
}
#attendance_edit_close_button:hover {
  cursor: pointer;
}
#attendance_edit_close_button:hover {
  cursor: pointer;
}

#student_name_label {
  text-align: center;
}

.available_attendance_edit_button {
  border: 2px solid black;
  font-family: "Tilt Neon";
  font-size: 100%;
  border-radius: 5px;
}

#save_attendance_edit_button {
  font-family: "Tilt Neon";
  font-size: 100%;
  background: linear-gradient(#258518 100%, #9BD33F 5%);
  border: 2px solid black;
  border-radius: 5px;
}
#save_attendance_edit_button:hover {
  cursor: pointer;
  background: linear-gradient(#195a10 100%, #81b52a 5%);
}

#delete_attendance_edit_button {
  border: 2px solid black;
  font-family: "Tilt Neon";
  font-size: 100%;
  border-radius: 5px;
  background-color: #f83c54;
}
#delete_attendance_edit_button:hover {
  cursor: pointer;
  background-color: #f60b29;
}

/*# sourceMappingURL=gradeEditPaneStyles.css.map */
