@import "variables";
@import "styleSchemes";

.appearing_pane{
  height: 30%;
  width: 20%;
  background-color: $white_contrast_color;
  position: absolute;
  top: 30%;
  left: 40%;
  @include thin_border;
  border-radius: 10px;
  @include standard_form_font;
  display: grid;
}

.available_grade_button{
  height: 85%;
  font-family: $main_site_font;
  @include thin_border;
  border-radius: 5px;
  &:hover{
    cursor: pointer;
  }
}

#possible_grades{
  display: flex;
  justify-content: space-around;
}

#close_button_div{
  display: flex;
  justify-content: right;
}

#close_button{
  border: none;
  background-color: transparent;
  font-size: 100%;
  width: min-content;
  height: min-content;
  &:hover{
    cursor: pointer;
  }
}

.grade_label:hover{
  cursor: pointer;
}
