.card_button_container:hover{
    height: 48px;
    cursor: pointer;
    animation: hovered_card_button_anim;
    animation-duration: 500ms;


}

.card_button_container{
    height: 35px;
    cursor: pointer;
    animation: released_card_button_anim;
    animation-duration: 500ms;
}


@keyframes hovered_card_button_anim {
    from{height: 35px;}
    to{height: 48px;}
}

@keyframes released_card_button_anim {
    from{height: 48px;}
    to{height: 35px;}
}
