@import "variables";


.main_container{
  background-color: $site_background_color;
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
}

#main_pane{
  width: 400px;
  height: 600px;
  position: relative;
  left: 40%;
  top: 30%;
}

#login_field{
  background-color: $pane_color;
  width: 100%;
  height: 40%;
  border-radius: 10px;
  border: map-get($default_border_properties, width) map-get($default_border_properties, style) map-get($default_border_properties, color);
  text-align: center;
  align-items: center;
  padding-top: 5px;
  position: relative;
  top: 75px;
}

label{
  display: block;
}

.login_label{
  font: {
    family: $main_site_font;
    size: $header_font_size;
  };
}

.login_input{
  width: 60%;
  height: 60%;
  font-size: $form_font_size;
  margin-bottom: 10px;
}

.button_container{
  display: block;
}

#online_gradebook_logo{
  margin-bottom: 20px;
}

.form_button{
  background-color: $button_color;
  width: 30%;
  font: {
    size: $form_font_size;
    family: $main_site_font;
  };

  border-radius: 5px;
}

.form_button:hover{
  background-color: darken($button_color, 10%);
  width: 30%;

  font: {
    size: $form_font_size;
    family: $main_site_font;
  };

  border-radius: 5px;
  cursor: pointer;
}

#login_register_card{
  display: grid;
  grid: {
    template-columns: 1fr 1fr;
    column-gap: 10px;
  };
  justify-items: center;
  position: absolute;
  top: 30px;
  width: 100%;
  height: 50px;
}

.card_button{
  background-color: transparent;
  border: none;
  font: {
    family: $main_site_font;
    size: $header_font_size;
  };

}

.card_button:hover{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card_button_container{
  background-color: darken($pane_color, 10%);
  width: 60%;
  height: 35px;

  border: {
    top-left-radius: 5px;
    top-right-radius: 5px;
    top: 2px solid black;
    left: 2px solid black;
    right: 2px solid black;
  };

  align-self: end;
}

#login_card{
  background-color: $white_contrast_color;
}

.required_field{
  color: red;
}



