@import "styleSchemes";
@import "variables";


#main_container{
  @include main_container_scheme;
}

#login_label{
  @include standard_header_font;
  display: block;
}

.main_pane{
  width: 35%;
  height: 60%;
  position: relative;
  left: 15%;
  top: 10%;
  text-align: center;
}

#login_main_pane{
  position: relative;
  top: 25%;
}

#login_form{
  @include form_style;
}

#registration_form{
  @include form_style;
}

.login_label{
  font: {
    family: $main_site_font;
    size: 20px;
  };
  display: block;
  position: relative;
  left: 10%;
  margin-bottom: 5px;
  width: 40%;
  text-align: left;
}

.form_element{
  width: 100%;
  height: 20%;
}

.button_container{
  position: relative;
  width: 80%;
  height: 20%;
  left: 10%;
}

#login_button{
  @include login_register_button_style;
  &:hover{
    @include login_register_button_style_hover;
  }
}

.login_input{
  @include login_form_input;
  @include standard_form_font;
  position: relative;
  top: 5%;
  border: none;
  background-color: $form_input_background_color;
}

.form_field{
  display: inline-flex;
  height: 40%;
  background-color: $form_input_background_color;
  width: 80%;
}

#icon_login{
  @include form_icon_style;
}

#icon_password{
  @include form_icon_style;
}

.login_icon{
  width: 20%;
  height: 35%;
  position: relative;
  left: 60%;
  bottom: 40%;
}

.login_icon_image{
  @include whole_area_style;
}

#registration_button{
  @include login_register_button_style;
  &:hover{
    @include login_register_button_style_hover;
  }
}
