.main_container{
    background-color: #231651;
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
}

#main_pane{
    width: 400px;
    height: 440px;
    position: relative;
    left: 40%;
    top: 30%;
}

#login_field{
    background-color: #2374AB;
    width: 100%;
    height: 80%;
    border-radius: 10px;
    border: 3px solid black;
    text-align: center;
    align-items: center;
    padding-top: 5px;
    position: absolute;
    bottom: 0;
}

label{
    display: block;
}

.login_label{
    font-family: 'Tilt Neon', sans-serif;
    font-size: 20px;
}

.login_input{
    width: 60%;
    height: 60%;
    font-size: 15px;
    margin-bottom: 10px;
}

.button_container{
    display: block;
}

#online_gradebook_logo{
    margin-bottom: 20px;
}

.form_button{
    background-color: #4DCCBD;
    width: 30%;
    font-size: 15px;
    font-family: 'Tilt Neon', sans-serif;
    border-radius: 5px;
}

.form_button:hover{
    background-color: #3CBBAC;
    width: 30%;
    font-size: 15px;
    font-family: 'Tilt Neon', sans-serif;
    border-radius: 5px;
    cursor: pointer;
}

#login_register_card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
    position: absolute;
    top: 30px;
    width: 100%;
    height: 50px;
}

.card_button{
    background-color: transparent;
    border: none;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 20px;

}

.card_button:hover{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.card_button_container{
    background-color: #015289;
    width: 60%;
    height: 35px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    align-self: end;
}

#login_card{
    background-color: #D6FFF6;
}



