@import "styleSchemes";
@import "variables";


#main_container{
  @include main_container_scheme;
}

#login_label{
  @include standard_header_font;
  font-size: 2.3vw;
  margin-bottom: 15px;
  text-align: center;
}

.main_pane{
  width: 35%;
  position: relative;
  left: 15%;
  top: 10%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  grid-column-gap: 80%;
}

#login_main_pane{
  position: relative;
  top: 25%;
  font-size: 2.5vw;
}

#login_form{
  @include form_style;
}

#registration_form{
  @include form_style;
}

.login_label{
  font: {
    family: $main_site_font;
    size: 1.5vw;
  };
  display: block;
  position: relative;
  left: 10%;
  text-align: left;
}

.form_element{
  width: 100%;
  margin-bottom: 15px;
}

.button_container{
  position: relative;
  width: 80%;
  height: 20%;
  left: 10%;
}

#login_button{
  @include login_register_button_style;
  &:hover{
    @include login_register_button_style_hover;
  }
}

.login_input{
  @include login_form_input;
  @include standard_form_font;
  font-size: 2.3vh;
  position: relative;
  top: 5%;
  border: none;
  background-color: $form_input_background_color;
}

.form_field{
  display: inline-flex;
  background-color: $form_input_background_color;
  justify-content: space-between;
  width: 100%;
}

#icon_login{
  @include form_icon_style;
}

#icon_password{
  @include form_icon_style;
}

.login_icon{
  display: inline-grid;
  align-content: center;
  grid-column: 2;
}

.login_icon_image{
  width: 100%;
}

#registration_button{
  @include login_register_button_style;
  width: auto;
  &:hover{
    @include login_register_button_style_hover;
  }
}

#login_div{
  bottom: 15%;
}

.incorrect_email_password{
  font: {
    family: $main_site_font;
    size: 20px;
  };
  text-align: center;
  color: $delete_color;
  min-height: 60px;
}
