@import "variables";
@import "styleSchemes";

body{
  margin: 0;
  padding: 0;
}

#main_container{
  @include main_container_scheme;
}

#nav_panel{
  background-color: $nav_bar_color;
}

#logo_image{
  height: 51px;
  width: 159px;
  vertical-align: middle;

}

#nav_list{
  width: 100%;
  height: 3.5rem;
  padding-top: 0;
  margin-top: 0;
  list-style: none;
  text-align: right;
  display: flex;
  justify-content: space-evenly;
  li{
    display: inline;
    width: 100%;
  }
}

.nav_pane_button{
  font-family: $main_site_font;
  @include start_page_button;
  &:hover{
    @include start_page_hover_button;
  }
}


#logo_button{
  @include start_page_button;
  &:hover{
    cursor: pointer;
  }
}

.nav_pane_label:hover{
  cursor: pointer;
}


#images_section{
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start_page_image{
  margin: {
    left: 5%;
    right: 5%;
  };
  width: 50%;
}

.image_div{
  width: 25%;
  height: 100%;
  position: relative;
  top: 25%;
  left: 5%;
}

.image_description{
  display: block;
  position: relative;
  left: 10%;
  @include standard_header_font;
}

#start_page_footer{
  width: 80%;
  height: 15%;
  border-top: 2px solid $footer_border_color;
  position: absolute;
  left: 10%;
  bottom: 3%;
  display: flex;
  padding-top: 10px;
}

#footer_logo_image{
  width: 289px;
  height: 126px;
}

.footer_div{
  margin-right: 10%;
  color: darken($footer_border_color, 30%);
}

.footer_list{
  list-style: none;
  padding: 0;
  li {
    position: relative;
    left: 0;
  }
}

#copyright{
  color: darken($footer_border_color, 60%);
}