@import "variables";
@import "styleSchemes";

#subjects_table{
  flex-direction: row;
}

#table_container{
  align-items: normal;
}

.subject_button_s{
  @include subject_button_style;
}

.delete_favourite_button{
  grid-column: 1/3;
}

.favourite_button{
  grid-column: 1/3;
}