@import "variables";
@import "styleSchemes";

#subjects_table{
  flex-direction: column;
}

.student_data_element{
  display: flex;
  justify-content: space-between;
  @include timetable_font;
  border: {
    bottom: 2px solid black;
  }
}

#table_container{
  align-items: end;
}

#total_student_average{
  width: 12%;
  justify-self: right;
  margin-right: 5%;
  background-color: $nav_bar_color;
  @include timetable_font;
  color: $white_contrast_color;
  @include thin_border;
  border: {
    bottom: 0;
    top-left-radius: 5px;
    top-right-radius: 5px;
  };

}

.archive_element_subjects{
  width: 30%;
}

.archive_element_grades{
  overflow: auto;
}

#your_grades_history_button{
  background-color: transparent;
  border: none;
  color: $white_contrast_color;
  &:hover{
    cursor: pointer;
  }
}
