@import "variables";


@mixin main_container_scheme{
  background-color: $site_background_color;
  width: 100%;
  height: 100%;
  position: fixed;
}

@mixin standard_header_font{
  font: {
    family: $main_site_font;
    size: $header_font_size;
  };
}

@mixin standard_form_font{
  font: {
    size: $form_font_size;
    family: $main_site_font;
  };
}

@mixin standard_border{
  border: map-get($default_border_properties, width) map-get($default_border_properties, style) map-get($default_border_properties, color);
}

@mixin symbol_properties{
  font-size: 50px;
  color: $white_contrast_color;
  display: inline;
}

@mixin thin_border{
  border: map-get($thin_border_properties, width) map-get($thin_border_properties, style) map-get($thin_border_properties, color);
}

@mixin button_style{
  @include thin_border;
  border-style: groove;
  border-radius: 5px;
}

@mixin start_page_button{
  height: 100%;
  width: 220px;
  border: none;
  background-color: transparent;
  color: $white_contrast_color;
  font-size: 20px;
}

@mixin start_page_hover_button{
  background-color: darken(#383c44, 5%);
  cursor: pointer;
}

@mixin login_form_input{
  display: inline-flex;
  width: 80%;
  height: 80%;
}

@mixin form_icon_style{
  position: relative;
  top: 25%;
}