@import "variables";
@import "buttonAnimatoins.css";


@mixin main_container_scheme{
  @include whole_area_style;
  position: fixed;
}

@mixin standard_header_font{
  font: {
    family: $main_site_font;
    size: $header_font_size;
  };
}

@mixin standard_form_font{
  font: {
    size: $form_font_size;
    family: $main_site_font;
  };
}

@mixin standard_border{
  border: map-get($default_border_properties, width) map-get($default_border_properties, style) map-get($default_border_properties, color);
}

@mixin symbol_properties{
  font-size: 50px;
  color: $white_contrast_color;
  display: inline;
}

@mixin thin_border{
  border: map-get($thin_border_properties, width) map-get($thin_border_properties, style) map-get($thin_border_properties, color);
}

@mixin button_style{
  @include thin_border;
  border-style: groove;
  border-radius: 5px;
}

@mixin start_page_button{
  border: none;
  background-color: transparent;
  @include whole_area_style;
  color: $white_contrast_color;
  font-size: 20px;
  margin: auto 0;
}

@mixin start_page_hover_button{
  background-color: darken(#383c44, 5%);
  cursor: pointer;
}

@mixin login_form_input{
  width: 90%;
  height: 80%;

}

@mixin form_icon_style{
  font-size: 3vh;
  text-align: left;
  width: 3.3vh;
}

@mixin login_register_button_style{
  @include whole_area_style;
  background-color: $login_register_button_color;
  border: none;
  @include standard_header_font;
  font-size: 2.5vw;
  margin-top: 10%;
}

@mixin login_register_button_style_hover{
  cursor: pointer;
  background-color: darken($login_register_button_color, 10%);
}

@mixin whole_area_style{
  width: 100%;
  height: 100%;
}

@mixin form_style{
  height: 80%;
  width: 90%;
  position: relative;
  left: 5%;
}

@mixin user_container_style {
  width: 60%;
  height: 60%;
  text-align: center;
  margin: {
    top: 4%;
    left: 20%;
  };
}

@mixin user_pane_style {
  width: 100%;
  height: 40%;
  margin-top: 2%;
  background-color: $button_area_color;
  @include thin_border;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

@mixin additional_button_style{
  width: 50%;
  height: 100%;
  font-size: 20px;
  border: none;
  display: block;
  border: {
    bottom-left-radius: 10px;
    bottom-right-radius: 10px;
  };
}

@mixin additional_button_animations{
  animation: additional_button_release linear forwards;
  animation-duration: 100ms;
  &:hover{
    cursor: pointer;
    animation: additional_button_hover linear forwards;
    animation-duration: 100ms;
  }
}

@mixin close_pane_button_style{
  border: none;
  background-color: transparent;
  font-size: 100%;
  width: min-content;
  height: min-content;
  &:hover{
    cursor: pointer;
  }
}

@mixin close_button_div_style{
  display: flex;
  justify-content: right;
}


@mixin button_in_appearing_pane_style {
  height: 85%;
  font-family: $main_site_font;
  @include thin_border;
  border-radius: 5px;
  &:hover{
    cursor: pointer;
  }
}

@mixin button_in_table_style{
  margin-left: 0.5rem;
  height: 85%;
  width: 1.8rem;
  @include thin_border;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

@mixin timetable_font{
  font: {
    family: $main_site_font;
    size: 2vh;
  };
}