@import "variables";
@import "styleSchemes";

#subjects_to_add_pane{
  position: absolute;
  left: 35%;
  top: 35%;
  background-color: $button_color;
  width: 21%;
  height: 40%;
  @include standard_border;
  border-radius: 5px;
}

.not_teaching_subject_button{
  @include standard_header_font;
  display: block;
  margin-bottom: 20px;
}

#subjects_to_add_pane_header{
  font: {
    family: $main_site_font;
    size: 23px;
  };

  display: block;
  float: left;

  margin: {
    top: 20px;
    bottom: 15px;
  };
  width: 85%;
  color: $site_background_color;
  border-bottom: 2px solid $site_background_color;
}

#close_pane_button{
  display: block;
  float: right;
  font-size: $header_font_size;
  background-color: transparent;
  border: none;
}

#close_pane_button:hover{
  cursor: pointer;
}

.not_teaching_subject_button{
  background-color: $add_button_color;
  @include button_style;
  margin-left: 5px;
}

.not_teaching_subject_button:hover{
  background-color: darken($add_button_color, 10%);
  cursor: pointer;
}

.not_teaching_subject_label{
  cursor: pointer;
}