@import "variables";
@import "styleSchemes";

.gradebook_grid_element{
  @include standard_header_font;

  margin: 15px;
  color: $white_contrast_color;
  border-right: 3px solid black;
  width: 30%;
}

.gradebook_grid_header{
  width: 100%;
  display: block;
  border-bottom: 3px solid black;
}

.student_label{
  display: block;
  margin-bottom: 10px;
  width: 100%;
}


