.gradebook_grid_element{
    font-family: 'Tilt Neon', sans-serif;
    font-size: 20px;
    margin: 15px;
    color: #D6FFF6;
    border-right: 3px solid black;
    width: 30%;
}

.gradebook_grid_header{
    width: 100%;
    display: block;
    border-bottom: 3px solid black;
}

.student_label{
    display: block;
    margin-bottom: 10px;
    width: 100%;
}


