@import "variables";
@import "styleSchemes";

#main_container{
  @include main_container_scheme;
  position: fixed;
}

#subjects_header{
  @include standard_header_font;
  color: $pink_header_color;
  text-align: center;
}

#home_page{
  @include symbol_properties;
  float: left;
}

#icons_div{
  margin: {
    left: 20px;
    top: 20px;
  };
  height: 60px;
}

#user_symbol{
  @include symbol_properties;
  float: right;
  text-align: center;
  position: relative;
  right: 20px;
}

#user_label{
  display: block;
  font-size: $header_font_size;
  position: relative;
  right: 10px;
}

#subjects_table{
  width: 80%;
  height: 80%;
  position: relative;
  left: 5%;
  background-color: $pane_color;
  @include standard_border;
  border-radius: 10px;
  display: flex;
}

.subject_button{
  background-color: $button_color;
  margin: 10px;
  @include standard_header_font;
  height: 50px;
  width: 20%;
  border: 2px groove black;
  border-radius: 5px;
}

#new_subject_button{
  background-color: $add_button_color;
  font-size: 35px;
}

.subject_button:hover{
  background-color: darken($button_color, 10%);
  cursor: pointer;
}

#new_subject_button:hover{
  background-color: darken($add_button_color, 10%);
  font-size: 35px;
}
