@import "variables";
@import "styleSchemes";

#subjects_container{
  width: 75%;
  display: grid;
  margin-left: 10%;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 1fr 12fr;


  @media (min-width: 768px) {
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 0.5fr 6fr;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 1fr 12fr;
  }
}

#timetable{
  @include user_pane_style;
  margin-top: 0;
  display: grid;
  height: 80%;
  border-radius: 1vw;
  grid: {
    template-columns: repeat(11, 9.1%);
    template-rows: repeat(6, 17%);
    row: 2;
  };
  overflow: hidden;
}

#hours{
  display: contents;
  @include timetable_font;
  height: min-content;
  justify-content: right;
  color: $white_contrast_color;
}

#days{
  display: contents;
  color: $white_contrast_color;
  @include timetable_font;
}

.hour_div{
  background-color: $nav_bar_color;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid black;
}

.day_div{
  width: 100%;
  background-color: $nav_bar_color;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid black;
}

$days_of_week: ("monday", "tuesday", "wednesday", "thursday", "friday");
$days_of_week_index: 1;
@while $days_of_week_index < 6{
  $day_tag: "#" + nth($days_of_week, $days_of_week_index);
  #{$day_tag}{
    grid: {
      column: 1;
      row: $days_of_week_index + 1;
    }
  }
  $days_of_week_index: $days_of_week_index + 1;
}


#filler{
  border-right: none;
}

#last_hour{
  border-right: none;
}

#first_hour{
  border-left: 2px solid black;
}

.timetable_element_button{
  background-color: $button_area_color;
  border: none;
  border-right: 2px solid black;
  font: {
    family: $main_site_font;
    size: 0.72vw;
  };
  &:hover{
    background-color: darken($button_area_color, 10%);
    cursor: pointer;
  }
}

$button_id: 9;
@while($button_id <= 49){
  #timetable_#{$button_id} {
    border: none;
  }
  $button_id: $button_id + 10;
}

@for $button_id from 0 through 39{
  #timetable_#{$button_id}{
    border-bottom: 2px solid black;
  }
}

#timetables_panel{
  background-color: $nav_bar_color;
  height: 80%;
  width: 55%;
  margin: {
    right: 5%;
  };
  @include thin_border;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  grid-row: 2;
}

#header_text{
  text-align: center;
  margin-top: 5%;
}

.timetable_tag_button{
  @include thin_border;
  @include timetable_font;

  border-radius: 5px;
  background-color: $white_contrast_color;
  width: 5vw;
  &:hover{
    cursor: pointer;
    background-color: darken($white_contrast_color, 10%);
  }
}

.timetable_tag_label:hover{
  cursor: pointer;
}

.timetable_element_label:hover{
  cursor: pointer;
}

