@import "styleSchemes";
@import "variables";


#subjects_container{
  @include user_container_style;
}

#subjects_table{
  @include user_pane_style;
  margin-top: 0;
  height: 80%;
  justify-content: left;
  flex-wrap: wrap;
}

#table_container{
  width: 100%;
  height: 60%;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.subject_button{
  @include timetable_font;
  @include whole_area_style;
  border: 2px solid black;
  background-color: $nav_bar_color;
  color: $white_contrast_color;
  border-radius: 10px;
  &:hover{
    cursor: pointer;
    background-color: darken($nav_bar_color, 10%);
  }
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.subject_div{
  height: 35%;
  width: 160px;
  min-width: 160px;
  margin: {
    left: 2%;
    top: 1%;
    right: 5%;
  }
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 100% 100%;
  justify-items: center;
}

#new_subject_button{
  font-size: 30px;
  background-color: $add_button_color;
  &:hover{
    background-color: darken($add_button_color, 10%);
  }
}

.delete_button{
  @include additional_button_style;
  @include thin_border;
  border-top: none;
  background-color: $delete_color;
  @include additional_button_animations;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  font-size: 100%;;
}

.favourite_button{
  @include additional_button_style;
  @include thin_border;
  border-top: none;
  background: linear-gradient(to right, $favorite_gradient_color_left, $favorite_gradient_color_right);
  @include additional_button_animations;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  font-size: 100%;
}

#gradebook_grid_header{
  background-color: $nav_bar_color;
  width: 100%;
  height: 10%;
  border-top: {
    left-radius: 10px;
    right-radius: 10px;
  };
  border-bottom: 2px solid black;
  @include standard_header_font;
  color: $white_contrast_color;
  text-align: left;
  display: flex;
}

#gradebook_grid_students_header{
  width: 50%;
}

#gradebook_grid_grades_header{
  width: 50%;
}

#student_names{
  width: 100%;
  height: auto;
  display: grid;
  grid-template: {
    columns: 1fr 1fr;
  };
  text-align: left;
}

.student_label_div{
  height: 100%;
  @include standard_form_font;
  border: {
    right: 2px solid black;
    bottom: 2px solid black;
  }
  display: flex;
  align-items: center;

}

.grade_part{
  height: 100%;
  display: flex;
  align-items: center;
  border: {
    bottom: 2px solid black;
  }
}


.grade_label:hover{
  cursor: pointer;
}

#subjects_table_buttons_div{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
}

.subject_section_button{
  @include thin_border;
  @include timetable_font;
  color: $white_contrast_color;
  border: {
    top-left-radius: 5px;
    top-right-radius: 5px;
    bottom: 0;
  };
  height: 85%;
  background-color: $nav_bar_color;

  @include subject_section_buttons_animation
}
