@import "variables";
@import "styleSchemes";

#subjects_container{
  width: 75%;
  display: flex;
  margin-left: 10%;
}

#timetable{
  @include user_pane_style;
  display: grid;
  height: 80%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#hours{
  display: contents;
  @include timetable_font;
  height: min-content;
  justify-content: right;
  color: $white_contrast_color;
}

#days{
  display: contents;
  color: $white_contrast_color;
  @include timetable_font;
}

.hour_div{
  background-color: $nav_bar_color;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid black;
}

.day_div{
  width: 100%;
  background-color: $nav_bar_color;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid black;
}

$days_of_week: ("monday", "tuesday", "wednesday", "thursday", "friday");
$days_of_week_index: 1;
@while $days_of_week_index < 6{
  $day_tag: "#" + nth($days_of_week, $days_of_week_index);
  #{$day_tag}{
    grid: {
      column: 1;
      row: $days_of_week_index + 1;
    }
  }
  @if($day_tag == "#friday"){
    #{$day_tag}{
      border-bottom-left-radius: 12px;
    };
  }
  $days_of_week_index: $days_of_week_index + 1;
}


#filler{
  border: {
    top-left-radius: 12px;
    right: none;
  };
}

#last_hour{
  border: {
    top-right-radius: 12px;
    right: none;
  };
}

#first_hour{
  border-left: 2px solid black;
}

.timetable_element_button{
  background-color: transparent;
  border: none;
  border-right: 2px solid black;
}

$button_id: 9;
@while($button_id <= 49){
  #timetable_#{$button_id} {
    border: none;
  }
  $button_id: $button_id + 10;
}

@for $button_id from 0 through 39{
  #timetable_#{$button_id}{
    border-bottom: 2px solid black;
  }
}

#timetables_panel{
  background-color: $nav_bar_color;
  height: 80%;
  width: 10%;
  margin: {
    top: 2%;
    right: 5%;
  };
  @include thin_border;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
}

#header_text{
  text-align: center;
  margin-top: 5%;
}

.timetable_tag_button{
  @include thin_border;
  @include timetable_font;
  border-radius: 5px;
  background-color: $white_contrast_color;
  width: 10vh;
  height: 2vw;
  &:hover{
    cursor: pointer;
    background-color: darken($white_contrast_color, 10%);
  }
}

.timetable_tag_label:hover{
  cursor: pointer;
}
