@import "variables";
@import "styleSchemes";

#subjects_container{
  width: 75%;
}

#timetable{
  @include user_pane_style;
  display: grid;
  height: 80%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#hours{
  display: contents;
  font: {
    family: $main_site_font;
    size: 2vh;
  };
  height: min-content;
  justify-content: right;
}

#days{
  display: contents;
}

.hour_div{
  margin-right: 2%;
}

.day_div{
  grid-column: 1/4;
  width: min-content;
}