@import "styleSchemes";
@import "variables";


#subjects_container{
  @include user_container_style;
}

#subjects_table{
  @include user_pane_style;
  height: 80%;
  justify-content: left;
  display: flex;
}

.subject_button{
  @include standard_header_font;
  @include whole_area_style;
  border: 2px solid black;
  background-color: $nav_bar_color;
  color: $white_contrast_color;
  border-radius: 10px;
  &:hover{
    cursor: pointer;
    background-color: darken($nav_bar_color, 10%);
  }
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.subject_div{
  height: 35%;
  width: 20%;
  margin: {
    left: 2%;
    top: 1%;
    right: 5%;
  }
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 60% 60%;
  justify-items: center;
}

#new_subject_button{
  font-size: 50px;
  background-color: $add_button_color;
  &:hover{
    background-color: darken($add_button_color, 10%);
  }
}

.delete_button{
  @include additional_button_style;
  @include thin_border;
  border-top: none;
  background-color: $delete_color;
  @include additional_button_animations;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.favourite_button{
  @include additional_button_style;
  @include thin_border;
  border-top: none;
  background: linear-gradient(to right, $favorite_gradient_color_left, $favorite_gradient_color_right);
  @include additional_button_animations;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
