@import "buttonAnimatoins.css";
#subjects_container {
  width: 75%;
  display: grid;
  margin-left: 10%;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 1fr 12fr;
}
@media (min-width: 768px) {
  #subjects_container {
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 0.5fr 6fr;
  }
}
@media (min-width: 1200px) {
  #subjects_container {
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 1fr 12fr;
  }
}

#timetable {
  width: 100%;
  height: 40%;
  margin-top: 2%;
  background-color: #D9D9D9;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin-top: 0;
  display: grid;
  border-radius: 1vw;
  height: 60%;
  grid-template-columns: repeat(11, 9.1%);
  grid-template-rows: repeat(6, 17%);
  grid-row: 2;
  overflow: hidden;
}

#hours {
  display: contents;
  font-family: "Tilt Neon", sans-serif;
  font-size: 100%;
  height: min-content;
  justify-content: right;
  color: #FFFFFF;
}

#days {
  display: contents;
  color: #FFFFFF;
  font-family: "Tilt Neon", sans-serif;
  font-size: 100%;
}

.hour_div {
  background-color: #383c44;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid black;
}

.day_div {
  width: 100%;
  background-color: #383c44;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid black;
}

#monday {
  grid-column: 1;
  grid-row: 2;
}

#tuesday {
  grid-column: 1;
  grid-row: 3;
}

#wednesday {
  grid-column: 1;
  grid-row: 4;
}

#thursday {
  grid-column: 1;
  grid-row: 5;
}

#friday {
  grid-column: 1;
  grid-row: 6;
}

#filler {
  border-right: none;
  display: flex;
}

#last_hour {
  border-right: none;
}

#first_hour {
  border-left: 2px solid black;
}

.timetable_element_button {
  background-color: #D9D9D9;
  border: none;
  border-right: 2px solid black;
  font-family: "Tilt Neon", sans-serif;
  text-align: left;
}
.timetable_element_button:hover {
  background-color: silver;
  cursor: pointer;
}

#timetable_9 {
  border: none;
}

#timetable_19 {
  border: none;
}

#timetable_29 {
  border: none;
}

#timetable_39 {
  border: none;
}

#timetable_49 {
  border: none;
}

#timetable_0 {
  border-bottom: 2px solid black;
}

#timetable_1 {
  border-bottom: 2px solid black;
}

#timetable_2 {
  border-bottom: 2px solid black;
}

#timetable_3 {
  border-bottom: 2px solid black;
}

#timetable_4 {
  border-bottom: 2px solid black;
}

#timetable_5 {
  border-bottom: 2px solid black;
}

#timetable_6 {
  border-bottom: 2px solid black;
}

#timetable_7 {
  border-bottom: 2px solid black;
}

#timetable_8 {
  border-bottom: 2px solid black;
}

#timetable_9 {
  border-bottom: 2px solid black;
}

#timetable_10 {
  border-bottom: 2px solid black;
}

#timetable_11 {
  border-bottom: 2px solid black;
}

#timetable_12 {
  border-bottom: 2px solid black;
}

#timetable_13 {
  border-bottom: 2px solid black;
}

#timetable_14 {
  border-bottom: 2px solid black;
}

#timetable_15 {
  border-bottom: 2px solid black;
}

#timetable_16 {
  border-bottom: 2px solid black;
}

#timetable_17 {
  border-bottom: 2px solid black;
}

#timetable_18 {
  border-bottom: 2px solid black;
}

#timetable_19 {
  border-bottom: 2px solid black;
}

#timetable_20 {
  border-bottom: 2px solid black;
}

#timetable_21 {
  border-bottom: 2px solid black;
}

#timetable_22 {
  border-bottom: 2px solid black;
}

#timetable_23 {
  border-bottom: 2px solid black;
}

#timetable_24 {
  border-bottom: 2px solid black;
}

#timetable_25 {
  border-bottom: 2px solid black;
}

#timetable_26 {
  border-bottom: 2px solid black;
}

#timetable_27 {
  border-bottom: 2px solid black;
}

#timetable_28 {
  border-bottom: 2px solid black;
}

#timetable_29 {
  border-bottom: 2px solid black;
}

#timetable_30 {
  border-bottom: 2px solid black;
}

#timetable_31 {
  border-bottom: 2px solid black;
}

#timetable_32 {
  border-bottom: 2px solid black;
}

#timetable_33 {
  border-bottom: 2px solid black;
}

#timetable_34 {
  border-bottom: 2px solid black;
}

#timetable_35 {
  border-bottom: 2px solid black;
}

#timetable_36 {
  border-bottom: 2px solid black;
}

#timetable_37 {
  border-bottom: 2px solid black;
}

#timetable_38 {
  border-bottom: 2px solid black;
}

#timetable_39 {
  border-bottom: 2px solid black;
}

#timetables_panel {
  background-color: #383c44;
  height: 60%;
  width: 55%;
  margin-right: 5%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  grid-row: 2;
}

#header_text {
  text-align: center;
  margin-top: 5%;
}

.timetable_tag_button {
  border: 2px solid black;
  font-family: "Tilt Neon", sans-serif;
  font-size: 100%;
  margin-top: 5%;
  border-radius: 5px;
  background-color: #FFFFFF;
  width: 5vw;
}
.timetable_tag_button:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}

.timetable_tag_label:hover {
  cursor: pointer;
}

.timetable_element_label {
  font-size: 60%;
  font-weight: bold;
}
.timetable_element_label:hover {
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  #timetable {
    height: 80%;
  }
  #timetables_panel {
    height: 80%;
  }
  .timetable_element_label {
    font-size: 80%;
  }
}
#add_new_student_button {
  width: 60%;
  height: 70%;
  background: linear-gradient(#258518 100%, #9BD33F 5%);
  font-size: 0.8vw;
  font-family: "Tilt Neon", sans-serif;
  font-size: 100%;
  background: linear-gradient(#258518 100%, #9BD33F 5%);
  border: 2px solid black;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 2vw;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
#add_new_student_button:hover {
  cursor: pointer;
  background: linear-gradient(#195a10 100%, #81b52a 5%);
}

/*# sourceMappingURL=teacherTimetableStyles.css.map */
