@import "styleSchemes";
@import "variables";
@import "buttonAnimatoins.css";

#icons_div{
  display: inline-block;
  @include start_page_button;
  width: 280px;
  text-align: left;
}

#logout_button{
  background-color: transparent;
  border: none;
  @include standard_form_font;
  color: $white_contrast_color;
  display: inline-block;
  vertical-align: center;
}

#user_label{
  position: relative;
  top: 15%;
}

#logout_button{
  margin-top: 2%;
}

#logout_button:hover{
  cursor: pointer;
  color: darken($white_contrast_color, 20%);
}

#options_table{
  @include user_container_style;
}

#header_text{
  @include standard_header_font;
}

#main_container{
  align-items: center;
  justify-content: center;
}

#buttons_area{
  @include user_pane_style;
}

.option_button_image{
  @include whole_area_style;
}

.options_table_button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  animation: hovered_button_release linear forwards;
  animation-duration: 200ms;
}

.options_table_button:hover{
  cursor: pointer;
  animation: hovered_button linear forwards;
  animation-duration: 200ms;
}

.button_description{
  @include standard_header_font;
  display: block;
  height: min-content;
  width: 100%;
}

.options_table_div{
  width: 200px;
  height: 110px;
  margin: {
    left: 10%;
    right: 10%;
    top:1%
  };
  text-align: center;
}