@import "variables";
@import "styleSchemes";

#subjects_container{
  width: 75%;
}

#timetable{
  @include user_pane_style;
  display: grid;
  height: 80%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#hours{
  display: contents;
  @include timetable_font;
  height: min-content;
  justify-content: right;
  color: $white_contrast_color;
}

#days{
  display: contents;
  color: $white_contrast_color;
  @include timetable_font;
}

.hour_div{
  background-color: $nav_bar_color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day_div{
  width: 100%;
  background-color: $nav_bar_color;
  display: flex;
  align-items: center;
  justify-content: center;
}

#monday{
  grid-column: 1;
  grid-row: 2;
}

#tuesday{
  grid-column: 1;
  grid-row: 3;
}

#wednesday{
  grid-column: 1;
  grid-row: 4;
}

#thursday{
  grid-column: 1;
  grid-row: 5;
}

#friday{
  grid-column: 1;
  grid-row: 6;
  border: {
    bottom-left-radius: 12px;
  };
}

#filler{
  border: {
    top-left-radius: 12px;
  };
}

#last_hour{
  border: {
    top-right-radius: 12px;
  };
}