@import "styleSchemes";
@import "variables";
@import "buttonAnimatoins.css";

#icons_div{
  color: $white_contrast_color;
  @include standard_form_font;
  width: 250px;

  text-align: left;
  margin: {
    left: auto;
    right: 4rem;
  };
}

#logout_button{
  background-color: transparent;
  border: none;
  @include standard_form_font;
  color: $white_contrast_color;
  display: inline-block;
  vertical-align: center;
}


#logout_button{
  margin-top: 2%;
  &:hover{
    cursor: pointer;
    color: darken($white_contrast_color, 20%);
  }
}

#options_table{
  @include user_container_style;
}

#header_text{
  @include standard_header_font;
}

#main_container{
  align-items: center;
  justify-content: center;
}

#buttons_area{
  @include user_pane_style;
}

.option_button_image{
  @include whole_area_style;
}

.options_table_button {
  @include whole_area_style;
  background-color: transparent;
  border: none;
  animation: hovered_button_release linear forwards;
  animation-duration: 200ms;
  &:hover{
    cursor: pointer;
    animation: hovered_button linear forwards;
    animation-duration: 200ms;
  }
}
.button_description{
  @include standard_header_font;
  display: block;
  height: min-content;
  width: 100%;
}

.options_table_div{
  width: 200px;
  height: 110px;
  margin: {
    left: 5%;
    right: 5%;
    top:1%
  };
  text-align: center;
}