$site_background_color: #FFFFFF;
$main_site_font: 'Tilt Neon', sans-serif;
$form_font_size: 15px;
$header_font_size: 25px;
$white_contrast_color: #FFFFFF;
$nav_bar_color: #383c44;
$footer_border_color: #BFC0BF;
$form_input_background_color: #e0e4ec;
$login_register_button_color: #985c84;
$button_area_color: #D9D9D9;
$add_button_color: #258518;
$delete_color: #f83c54;
$favorite_gradient_color_left: #ef3e3d;
$favorite_gradient_color_right: #ffcb27;
$default_border_properties: (
        width: 3px,
        style: solid,
        color: black
);

$thin_border_properties: (
        width: 2px,
        style: solid,
        color: black
);