$site_background_color: #FFFFFF;
$main_site_font: 'Tilt Neon', sans-serif;
$form_font_size: 15px;
$header_font_size: 25px;
$white_contrast_color: #D6FFF6;
$nav_bar_color: #383c44;
$footer_border_color: #BFC0BF;
$form_input_background_color: #e0e4ec;
$default_border_properties: (
        width: 3px,
        style: solid,
        color: black
);

$thin_border_properties: (
        width: 2px,
        style: solid,
        color: black
);