$site_background_color: #FFFFFF;
$pane_color: #2374AB;
$main_site_font: 'Tilt Neon', sans-serif;
$form_font_size: 15px;
$header_font_size: 20px;
$white_contrast_color: #D6FFF6;
$button_color: #4DCCBD;
$pink_header_color: #FF8484;
$add_button_color: #1db87f;
$nav_bar_color: #383c44;

$default_border_properties: (
        width: 3px,
        style: solid,
        color: black
);

$thin_border_properties: (
        width: 2px,
        style: solid,
        color: black
);